Repository KennethWussmann/lamDB: changes, and which Codecov flags are due for each by the changed paths.
All: api-token-authorizer, benchmark, commons, core, engine-layer, example, infrastructure, lambda, server

codecov.yml:

flags:
  api-token-authorizer:
    paths:
      - packages/api-token-authorizer/
  benchmark:
    paths:
      - packages/benchmark/
  commons:
    paths:
      - packages/commons/
  core:
    paths:
      - packages/core/
  engine-layer:
    paths:
      - packages/engine-layer/
  example:
    paths:
      - packages/example/
  infrastructure:
    paths:
      - packages/infrastructure/
  lambda:
    paths:
      - packages/lambda/
  server:
    paths:
      - packages/server/

Add badge to readme
  README.md
Due: none

Move badge below tagline
  README.md
Due: none

Add hr
  README.md
Due: none

Remove hr
  README.md
Due: none

Add badge to readme (#54)
  README.md
Due: none

Fix coverage config
  .vscode/settings.json
  packages/api-token-authorizer/jest.config.ts
  packages/commons/jest.config.ts
  packages/core/jest.config.ts
  packages/core/src/lamDBService/lamDBService.ts
  packages/lambda/jest.config.ts
Due: api-token-authorizer, commons, core, lambda

Make private
  packages/api-token-authorizer/src/authorizer.ts
Due: api-token-authorizer

Fix coverage config (#55)
  .vscode/settings.json
  packages/api-token-authorizer/jest.config.ts
  packages/api-token-authorizer/src/authorizer.ts
  packages/commons/jest.config.ts
  packages/core/jest.config.ts
  packages/core/src/lamDBService/lamDBService.ts
  packages/lambda/jest.config.ts
Due: api-token-authorizer, commons, core, lambda

Exclude more files from coverage report
  packages/commons/src/logger.ts
  packages/commons/src/requestResponse.ts
  packages/core/src/utils/configuration.ts
  packages/lambda/src/applicationContext.ts
Due: commons, core, lambda

Exclude more files from coverage report (#56)
  packages/commons/src/logger.ts
  packages/commons/src/requestResponse.ts
  packages/core/src/utils/configuration.ts
  packages/lambda/src/applicationContext.ts
Due: commons, core, lambda

Report coverage of more packages
  .github/workflows/build.yml
  packages/engine-layer/jest.config.ts
  packages/engine-layer/package.json
  packages/engine-layer/tsconfig.build.json
  packages/engine-layer/tsconfig.json
  packages/infrastructure/jest.config.ts
  packages/infrastructure/package.json
  packages/infrastructure/tsconfig.build.json
  packages/infrastructure/tsconfig.json
  packages/server/jest.config.ts
  packages/server/package.json
  packages/server/tsconfig.build.json
  packages/server/tsconfig.json
Due: engine-layer, infrastructure, server

Fix variable
  .github/workflows/build.yml
Due: none

Report coverage of more packages (#57)
  .github/workflows/build.yml
  packages/engine-layer/jest.config.ts
  packages/engine-layer/package.json
  packages/engine-layer/tsconfig.build.json
  packages/engine-layer/tsconfig.json
  packages/infrastructure/jest.config.ts
  packages/infrastructure/package.json
  packages/infrastructure/tsconfig.build.json
  packages/infrastructure/tsconfig.json
  packages/server/jest.config.ts
  packages/server/package.json
  packages/server/tsconfig.build.json
  packages/server/tsconfig.json
Due: engine-layer, infrastructure, server

Update dependencies
  package-lock.json
  packages/example/package.json
  packages/infrastructure/package.json
Due: example, infrastructure

Add utils test
  packages/commons/src/utils.test.ts
Due: commons

Test more error cases of operationInfo
  packages/commons/src/operationInfo.test.ts
  packages/commons/src/operationInfo.ts
Due: commons

Ignore tracer
  packages/commons/src/tracer.ts
Due: commons

Test additional error case of QueryRouter
  packages/lambda/src/queryRouter.test.ts
Due: lambda

Add test for request convert utils
  packages/lambda/src/utils.test.ts
  packages/lambda/src/utils.ts
Due: lambda

Add migrateHandler test
  packages/lambda/jest.config.ts
  packages/lambda/src/handler/migrateHandler.test.ts
  packages/lambda/src/handler/migrateHandler.ts
  packages/lambda/test/setupEnv.ts
Due: lambda

Add test for proxyHandler
  packages/lambda/src/handler/proxyHandler.test.ts
  packages/lambda/src/handler/proxyHandler.ts
  packages/lambda/test/setupEnv.ts
Due: lambda

Add reader writerHandler test
  packages/lambda/src/handler/readerWriterHandler.test.ts
  packages/lambda/src/handler/readerWriterHandler.ts
Due: lambda

Add more tests (#59)
  packages/commons/src/operationInfo.test.ts
  packages/commons/src/operationInfo.ts
  packages/commons/src/tracer.ts
  packages/commons/src/utils.test.ts
  packages/lambda/jest.config.ts
  packages/lambda/src/handler/migrateHandler.test.ts
  packages/lambda/src/handler/migrateHandler.ts
  packages/lambda/src/handler/proxyHandler.test.ts
  packages/lambda/src/handler/proxyHandler.ts
  packages/lambda/src/handler/readerWriterHandler.test.ts
  packages/lambda/src/handler/readerWriterHandler.ts
  packages/lambda/src/queryRouter.test.ts
  packages/lambda/src/utils.test.ts
  packages/lambda/src/utils.ts
  packages/lambda/test/setupEnv.ts
Due: commons, lambda

Remove migration lockfile feature
  docs/operation.md
  packages/core/src/lamDBService/lamDBService.test.ts
  packages/core/src/lamDBService/lamDBService.ts
  packages/core/src/migrationEngine/__snapshots__/migrationEngine.it.test.ts.snap
  packages/core/src/migrationEngine/migrationEngine.it.test.ts
  packages/core/src/migrationEngine/migrationEngine.ts
  packages/core/src/utils/configuration.ts
  packages/core/test/binaryPaths.ts
  packages/core/test/setupIntegrationTest.ts
  packages/lambda/src/handler/migrateHandler.test.ts
  packages/lambda/src/handler/migrateHandler.ts
Due: core, lambda

Remove migration lockfile feature (#60)
  docs/operation.md
  packages/core/src/lamDBService/lamDBService.test.ts
  packages/core/src/lamDBService/lamDBService.ts
  packages/core/src/migrationEngine/__snapshots__/migrationEngine.it.test.ts.snap
  packages/core/src/migrationEngine/migrationEngine.it.test.ts
  packages/core/src/migrationEngine/migrationEngine.ts
  packages/core/src/utils/configuration.ts
  packages/core/test/binaryPaths.ts
  packages/core/test/setupIntegrationTest.ts
  packages/lambda/src/handler/migrateHandler.test.ts
  packages/lambda/src/handler/migrateHandler.ts
Due: core, lambda

Add infrastructure tests for storage and functions
  packages/infrastructure/lib/lamDBFunction.test.ts
  packages/infrastructure/lib/lamDBStorage.test.ts
  packages/infrastructure/package.json
  packages/infrastructure/test/expect.ts
Due: infrastructure

Add more infrastructure tests
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/lamDBBastionHost.test.ts
  packages/infrastructure/lib/lamDBDataSync.test.ts
  packages/infrastructure/lib/lamDBEngineLayer.test.ts
  packages/infrastructure/lib/lamDBFileSystem.test.ts
  packages/infrastructure/lib/lamDBFileSystem.ts
  packages/infrastructure/lib/lambda/authorizer.ts
  packages/infrastructure/lib/lambda/migrate.ts
  packages/infrastructure/lib/lambda/proxy.ts
  packages/infrastructure/lib/lambda/readerWriter.ts
  packages/infrastructure/lib/lambda/rotation.ts
  packages/infrastructure/lib/types.ts
  packages/infrastructure/test/expect.ts
  packages/infrastructure/test/schema.prisma
Due: infrastructure

Add authorizer test
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.test.ts
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/types.ts
Due: infrastructure

Fix test
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.test.ts
Due: infrastructure

Add infrastructure tests (#61)
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.test.ts
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/lamDBBastionHost.test.ts
  packages/infrastructure/lib/lamDBDataSync.test.ts
  packages/infrastructure/lib/lamDBEngineLayer.test.ts
  packages/infrastructure/lib/lamDBFileSystem.test.ts
  packages/infrastructure/lib/lamDBFileSystem.ts
  packages/infrastructure/lib/lamDBFunction.test.ts
  packages/infrastructure/lib/lamDBStorage.test.ts
  packages/infrastructure/lib/lambda/authorizer.ts
  packages/infrastructure/lib/lambda/migrate.ts
  packages/infrastructure/lib/lambda/proxy.ts
  packages/infrastructure/lib/lambda/readerWriter.ts
  packages/infrastructure/lib/lambda/rotation.ts
  packages/infrastructure/lib/types.ts
  packages/infrastructure/package.json
  packages/infrastructure/test/expect.ts
  packages/infrastructure/test/schema.prisma
Due: infrastructure

Fix deployment
  packages/infrastructure/tsconfig.build.json
Due: infrastructure

Fix deployment (#62)
  packages/infrastructure/tsconfig.build.json
Due: infrastructure

Update dependencies
  package-lock.json
  package.json
  packages/api-token-authorizer/package.json
  packages/example/package.json
  packages/infrastructure/package.json
  packages/lambda/package.json
Due: api-token-authorizer, example, infrastructure, lambda

Auto-generate enviroment file
  README.md
  docs/development.md
  package-lock.json
  packages/server/package.json
  packages/server/scripts/setupEnv.ts
  turbo.json
Due: server

Don't use commons package
  packages/server/scripts/setupEnv.ts
Due: server

Auto-generate enviroment file (#64)
  README.md
  docs/development.md
  package-lock.json
  packages/server/package.json
  packages/server/scripts/setupEnv.ts
  turbo.json
Due: server

Switch to node 18 and dont bundle aws-sdks
  .github/actions/npm-install/action.yml
  .nvmrc
  docs/development.md
  package.json
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.test.ts
  packages/infrastructure/lib/lamDBFunction.test.ts
  packages/infrastructure/lib/lamDBFunction.ts
Due: infrastructure

Add changeset
  .changeset/moody-apples-search.md
Due: none
