Repository KennethWussmann/lamDB: changes, and which Codecov flags are due for each by the changed paths.
All: api-token-authorizer, benchmark, commons, core, engine-layer, example, infrastructure, lambda, server

Update devcontainer node version
  .devcontainer/devcontainer.json
Due: none

Switch to node 18 and dont bundle aws-sdks (#67)
  .changeset/moody-apples-search.md
  .devcontainer/devcontainer.json
  .github/actions/npm-install/action.yml
  .nvmrc
  docs/development.md
  package.json
  packages/infrastructure/lib/lamDBApiTokenAuthorizer.test.ts
  packages/infrastructure/lib/lamDBFunction.test.ts
  packages/infrastructure/lib/lamDBFunction.ts
Due: infrastructure

Update dependencies
  package-lock.json
  package.json
  packages/api-token-authorizer/package.json
  packages/commons/package.json
  packages/example/package.json
  packages/infrastructure/package.json
  packages/lambda/package.json
Due: api-token-authorizer, commons, example, infrastructure, lambda

Write metrics to CloudWatch
  docs/operation.md
  package-lock.json
  package.json
  packages/commons/package.json
  packages/commons/src/index.ts
  packages/commons/src/metrics.ts
  packages/core/src/lamDBService/lamDBService.test.ts
  packages/core/src/lamDBService/lamDBService.ts
  packages/core/src/migrationEngine/migrationEngine.ts
  packages/example/cdk/lamDBTestStack.ts
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/lamDBFunction.test.ts
  packages/infrastructure/lib/lamDBFunction.ts
  packages/infrastructure/lib/types.ts
Due: commons, core, example, infrastructure

Add changeset
  .changeset/yellow-zoos-prove.md
Due: none

Write metrics to CloudWatch (#70)
  .changeset/yellow-zoos-prove.md
  docs/operation.md
  package-lock.json
  package.json
  packages/commons/package.json
  packages/commons/src/index.ts
  packages/commons/src/metrics.ts
  packages/core/src/lamDBService/lamDBService.test.ts
  packages/core/src/lamDBService/lamDBService.ts
  packages/core/src/migrationEngine/migrationEngine.ts
  packages/example/cdk/lamDBTestStack.ts
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/lamDBFunction.test.ts
  packages/infrastructure/lib/lamDBFunction.ts
  packages/infrastructure/lib/types.ts
Due: commons, core, example, infrastructure

Fix how throughput metrics work
  docs/operation.md
  packages/core/src/lamDBService/lamDBService.ts
  packages/infrastructure/lib/lamDB.ts
Due: core, infrastructure

Add changeset
  .changeset/strong-eels-buy.md
Due: none

Fix how throughput metrics work (#71)
  .changeset/strong-eels-buy.md
  docs/operation.md
  packages/core/src/lamDBService/lamDBService.ts
  packages/infrastructure/lib/lamDB.ts
Due: core, infrastructure

Fix creating bastion host
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/types.ts
Due: infrastructure

Add changeset
  .changeset/grumpy-shoes-bake.md
Due: none

Fix creating bastion host (#73)
  .changeset/grumpy-shoes-bake.md
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/types.ts
Due: infrastructure

Handle writes asynchronously via dynamodb
  package-lock.json
  packages/benchmark/src/write-load-test.js
  packages/commons/src/requestResponse.ts
  packages/core/src/migrationEngine/migrationEngine.ts
  packages/example/cdk/lamDBTestStack.ts
  packages/example/package.json
  packages/infrastructure/lib/lamDBAPI.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/lamDBFileSystem.ts
  packages/infrastructure/lib/lamDBFunction.ts
  packages/infrastructure/lib/lambda/deferred.ts
  packages/infrastructure/lib/lambda/dynamoDbStream.ts
  packages/lambda/package.json
  packages/lambda/src/applicationContext.ts
  packages/lambda/src/handler/deferredHandler.ts
  packages/lambda/src/handler/deferredService.ts
  packages/lambda/src/handler/dynamoDbStreamHandler.ts
  packages/lambda/src/handler/migrateHandler.ts
  packages/lambda/src/index.ts
  packages/lambda/src/queryRouter.ts
  packages/lambda/src/utils.ts
Due: benchmark, commons, core, example, infrastructure, lambda

Publish docker image
  .github/actions/docker-publish/action.yml
  .github/workflows/release-docker-develop.yml
  .github/workflows/release-docker-latest.yml
  .github/workflows/release-npm.yml
  Dockerfile
Due: none

Use stronger runner
  .github/workflows/release-docker-develop.yml
  .github/workflows/release-docker-latest.yml
Due: none

Use armv7
  .github/actions/docker-publish/action.yml
  .github/workflows/release-docker-develop.yml
  .github/workflows/release-docker-latest.yml
Due: none

arm 64
  .github/actions/docker-publish/action.yml
  .github/workflows/release-docker-develop.yml
  .github/workflows/release-docker-latest.yml
Due: none

arm64
  .github/actions/docker-publish/action.yml
Due: none

Adjust docs to new DynamoDB setup
  docs/architecture.md
  docs/faq.md
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/types.ts
Due: infrastructure

Update dependencies
  package-lock.json
  package.json
  packages/api-token-authorizer/package.json
  packages/core/package.json
  packages/engine-layer/package.json
  packages/example/package.json
  packages/infrastructure/package.json
  packages/lambda/package.json
Due: api-token-authorizer, core, engine-layer, example, infrastructure, lambda

Update dependencies
  package-lock.json
  package.json
  packages/api-token-authorizer/package.json
  packages/core/package.json
  packages/engine-layer/package.json
  packages/example/package.json
  packages/infrastructure/package.json
  packages/lambda/package.json
  packages/server/package.json
Due: api-token-authorizer, core, engine-layer, example, infrastructure, lambda, server

Update dependencies
  package-lock.json
  package.json
  packages/api-token-authorizer/package.json
  packages/commons/package.json
  packages/core/package.json
  packages/engine-layer/package.json
  packages/example/package.json
  packages/infrastructure/package.json
  packages/lambda/package.json
  packages/server/package.json
Due: api-token-authorizer, commons, core, engine-layer, example, infrastructure, lambda, server

WIP
  .prettierignore
  docs/faq.md
  packages/infrastructure/lib/lamDB.ts
  packages/infrastructure/lib/lamDBAPI.ts
  packages/infrastructure/lib/lamDBApplication.ts
  packages/infrastructure/lib/lamDBFunction.ts
  packages/infrastructure/lib/types.ts
  packages/lambda/package.json
  packages/lambda/src/applicationContext.ts
  packages/lambda/src/handler/dynamoDbStreamHandler.ts
  packages/lambda/src/handler/graphQlHandler.ts
  packages/lambda/src/handler/index.ts
  packages/lambda/src/handler/proxyHandler.test.ts
  packages/lambda/src/handler/proxyHandler.ts
  packages/lambda/src/handler/readerWriterHandler.test.ts
  packages/lambda/src/handler/readerWriterHandler.ts
  packages/lambda/src/index.ts
  packages/lambda/src/orchestrationService.ts
  packages/lambda/src/queryRouter.test.ts
  packages/lambda/src/queryRouter.ts
  packages/lambda/test/setupEnv.ts
Due: infrastructure, lambda

Path conditions:
  api-token-authorizer: any of: packages/api-token-authorizer/
  benchmark: any of: packages/benchmark/
  commons: any of: packages/commons/
  core: any of: packages/core/
  engine-layer: any of: packages/engine-layer/
  example: any of: packages/example/
  infrastructure: any of: packages/infrastructure/
  lambda: any of: packages/lambda/
  server: any of: packages/server/
